@charset "UTF-8";
/*반응형 화면 크기*/ /* 폰트 셋팅 */
/*프리텐다드*/
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/variable/pretendardvariable.css");
/*Inter*/
@import url("https://rsms.me/inter/inter.css");
/*NotoSans JP*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&display=swap");
/*NotoSans SC*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Inter";
  font-style: normal;
  unicode-range: U+0041-005A, U+0061-007A, U+0030-0039;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
  color: inherit;
}

*,
:after,
:before {
  box-sizing: border-box;
  flex-shrink: 0;
}

:root {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
  cursor: default;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html,
body {
  height: 100%;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: 0;
  cursor: pointer;
}

a {
  display: block;
  text-decoration: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul,
ol,
li {
  list-style: none;
}

select,
button,
input,
textarea {
  border: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font-family: "Pretendard Variable", sans-serif !important;
  font-weight: normal;
  /*overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;*/
  letter-spacing: normal;
  line-height: 1;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  word-break: break-all;
  word-wrap: break-word;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: inherit;
}

body {
  min-width: 320px;
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  margin: -1px;
}

#skipNav {
  position: relative;
  z-index: 3000;
}

#skipNav a {
  position: absolute;
  top: -30px;
  left: 0;
  width: 138px;
  border: 1px solid #4ec53d;
  background: #333;
  text-align: center;
}

#skipNav a:active,
#skipNav a:focus {
  top: 0;
  text-decoration: none;
  z-index: 1000;
}

#skipNav span {
  display: inline-block;
  padding: 2px 6px 0 0;
  font-size: 13px;
  line-height: 26px;
  color: #fff;
  letter-spacing: -1px;
  white-space: nowrap;
}

.common-inner, .sc-introduce, .sc-scroll .text-area {
  position: relative;
  width: 1280px;
  padding-top: 320px;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.common-width, .sc-ask .contents-area, .sc-download .contents-area, .sc-advertisement, .sc-info4 .text-wrap, .sc-info3 .contents-area, .sc-info2 .contents-area, .sc-info1 .contents-area {
  width: 1280px;
  padding-right: 40px;
  padding-left: 40px;
  max-width: 100%;
  margin: 0 auto;
}

.link-detail {
  padding: 25px 75px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  background-color: #3b89ff;
  border-radius: 300px;
  margin-bottom: 20px;
  transition: 0.3s;
  display: inline-block;
}

.sc-info .text-wrap {
  text-align: left;
  position: relative;
  z-index: 1;
}
.sc-info .text-wrap h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.48;
}
.sc-info .text-wrap p {
  font-size: 22px;
  font-weight: 500;
  color: #444;
  line-height: 1.6;
  margin-top: 40px;
}
@media (max-width: 1250px) {
  .sc-info .text-wrap p {
    font-size: 18px;
    margin-top: 30px;
  }
}
.sc-info .video-wrap {
  position: relative;
  width: 530px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1100px) {
  .sc-info .video-wrap {
    width: 400px;
  }
}
.sc-info .video-wrap::before {
  -webkit-animation-name: circle-scale;
          animation-name: circle-scale;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-timing-function: cubic-bezier(0.42, 0, 0.22, 1.21);
          animation-timing-function: cubic-bezier(0.42, 0, 0.22, 1.21);
  opacity: 1;
}
.sc-info .video-wrap::before {
  content: "";
  position: absolute;
  width: 530px;
  height: 530px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  border-radius: 50%;
}
@media (max-width: 1100px) {
  .sc-info .video-wrap::before {
    width: 400px;
    height: 400px;
  }
}
.sc-info .video-wrap .video-box {
  position: relative;
  z-index: 1;
  background-color: #fff;
  border-radius: 50px;
  overflow: hidden;
  box-shadow: 0 6px 50px 0 rgba(4, 5, 9, 0.06);
}
.sc-info .video-wrap .video-box .phone {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.sc-info .video-wrap .video {
  width: auto;
  height: auto;
}
.sc-info .video-wrap .video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 13px;
  border-radius: 50px;
  overflow: hidden;
}
.sc-info .icon {
  position: absolute;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: icon-bounce;
          animation-name: icon-bounce;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -o-object-fit: contain;
     object-fit: contain;
}
.sc-info .icon.icon1 {
  top: 207px;
  left: 6.615vw;
  width: 145px;
}
.sc-info .icon.icon2 {
  top: 111px;
  left: 15.104vw;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
  width: 77px;
}
.sc-info .icon.icon3 {
  display: inline-block;
  top: 40px;
  right: 14.792vw;
}
.sc-info .icon.icon4 {
  display: inline-block;
  top: 93px;
  right: 6.667vw;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}
.sc-info .chat,
.sc-info .face {
  display: block;
  -webkit-animation-name: icon-scale;
          animation-name: icon-scale;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  opacity: 1;
  -o-object-fit: contain;
     object-fit: contain;
}
.sc-info .chat {
  position: absolute;
  border-radius: 41px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.14);
  height: 70px;
  z-index: 1;
}
.sc-info .chat.chat1 {
  top: 120px;
  right: 0;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.sc-info .chat.chat2 {
  top: 300px;
  left: -70px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
}
.sc-info .chat.chat3 {
  bottom: 95px;
  right: 0;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
.sc-info .face {
  position: absolute;
  border-radius: 36%;
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.sc-info .face.face1 {
  top: 34px;
  left: 70px;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
  width: 100px;
}
.sc-info .face.face2 {
  top: 184px;
  right: 34px;
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s;
  width: 120px;
}
.sc-info .face.face3 {
  bottom: 56px;
  left: 10px;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
  width: 140px;
}

@-webkit-keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scaleX(1);
  }
}

@keyframes pulse {
  0% {
    transform: scaleX(1);
  }
  50% {
    transform: scale3d(1.05, 1.05, 1.05);
  }
  to {
    transform: scaleX(1);
  }
}
.animate-pulse {
  -webkit-animation-name: pulse;
          animation-name: pulse;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

.animation-box {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}

@-webkit-keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 27px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 27px);
  }
}

@keyframes scrolldown {
  0% {
    opacity: 0;
    transform: translate(-50%, 0);
  }
  90% {
    opacity: 1;
    transform: translate(-50%, 27px);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, 27px);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
@keyframes bounce {
  0%, 20%, 53%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0);
  }
  40%, 43% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -30px, 0) scaleY(1.1);
  }
  70% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
            animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    transform: translate3d(0, -15px, 0) scaleY(1.05);
  }
  80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateZ(0) scaleY(0.95);
  }
  90% {
    transform: translate3d(0, -4px, 0) scaleY(1.02);
  }
}
.animate-bounce {
  -webkit-animation-name: bounce;
          animation-name: bounce;
  transform-origin: center bottom;
}

@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-in {
  -webkit-animation-name: fade-in;
          animation-name: fade-in;
}

@-webkit-keyframes icon-bounce {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}

@keyframes icon-bounce {
  0% {
    transform: translateY(40px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(40px);
  }
}
@-webkit-keyframes fade-inup {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
@keyframes fade-inup {
  0% {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    transform: translateZ(0);
  }
}
.fade-inup {
  -webkit-animation-name: fade-inup;
          animation-name: fade-inup;
}

@-webkit-keyframes circle-scale {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes circle-scale {
  0% {
    opacity: 0;
    visibility: hidden;
    transform: translate(-50%, -50%) scale(0.5);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
@-webkit-keyframes icon-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes icon-scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
.header {
  width: 100%;
  height: 94px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.3s;
  border-bottom: 1px solid #e4e5e9;
}
.header.on {
  height: 62px;
}
.header .gnb-list {
  display: flex;
  align-items: center;
  gap: 100px;
}
.header .gnb-item {
  position: relative;
  padding-right: 10px;
}
.header .gnb-item a {
  font-size: 18px;
  font-weight: 500;
  letter-spacing: normal;
  color: #111;
  transition: 0.3s;
}
.header .gnb-item::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 0;
  border-radius: 50%;
  background: #3b89ff;
  width: 6px;
  height: 6px;
  opacity: 0;
  transition: 0.3s;
}
.header .gnb-item:hover a {
  color: #3b89ff;
}
.header .gnb-item:hover::after {
  opacity: 1;
}

.login-area {
  font-size: 17px;
  font-weight: 500;
  color: #fff;
  padding: 11px 25px;
  background-color: #222;
  border-radius: 300px;
  display: flex;
  align-items: center;
  line-height: 1;
  transition: 0.3s;
}
.login-area span::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 12px;
  background: url(../images/arrow-right.svg) no-repeat center;
  margin-left: 12px;
}

.mobile-area {
  display: none;
}

.footer {
  padding: 90px 20px;
  border-top: 1px solid #e4e5e9;
}
.footer h2 {
  margin: 0 auto;
}
.footer h2 img {
  display: block;
  margin: 0 auto;
}
.footer ul {
  text-align: center;
  line-height: 1.4;
  margin-top: 40px;
}
@media (max-width: 1250px) {
  .footer ul {
    margin-top: 30px;
  }
}
.footer ul li {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
.footer ul li p, .footer ul li a {
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #444;
}
.footer ul li b {
  font-weight: 600;
  color: #111;
}
.footer .site-wrap.active .btn-site .open {
  display: none;
}
.footer .site-wrap.active .btn-site .close {
  display: block;
}
.footer .site-wrap.active .site-box {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: 0.3s;
}
.footer .btn-site {
  padding: 7px 0;
  border-radius: 21px;
  background-color: #f2f2f3;
  font-size: 13px;
  font-weight: normal;
  color: #444;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .btn-site img {
  margin-left: 16px;
}
.footer .btn-site .open {
  display: block;
}
.footer .btn-site .close {
  display: none;
}
.footer .site-box {
  border-radius: 13px;
  border: solid 1px #e4e5e9;
  background-color: #fff;
  padding: 13px 0;
  position: absolute;
  width: 130px;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  bottom: 36px;
}
.footer .site-box a {
  padding: 7px 0 7px 17px;
  font-size: 13px;
  color: #444;
  font-weight: normal;
  text-align: left;
  transition: 0.3s;
  line-height: normal;
  letter-spacing: normal;
}
.footer .copyrights {
  text-align: center;
  margin-top: 12px;
  font-size: 13px;
  font-weight: normal;
  color: #999;
}

.sc-mainvisual {
  position: relative;
  width: 100%;
  height: 100vh;
}
.sc-mainvisual::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.75;
  background-color: #000;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.sc-mainvisual .video-area {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
}
.sc-mainvisual .video-area video {
  width: 100vw;
  height: 56.25vw;
  min-height: 100vh;
  min-width: 177.77vh;
  position: absolute;
  top: calc(50% + 94px);
  left: 50%;
  transform: translate(-50%, -50%);
}
.sc-mainvisual .contents-area {
  position: absolute;
  top: 27.777vh;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 1;
}
.sc-mainvisual .title-wrap {
  width: 100vw;
  margin-bottom: 120px;
}
.sc-mainvisual .title-wrap .animation-box {
  display: inline-block;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 46px;
  color: #fff;
}
.sc-mainvisual .title-wrap .animation-box:last-child {
  display: block;
  margin-bottom: 0;
}
.sc-mainvisual .title-wrap img {
  display: block;
  width: 448px;
  margin: 0 auto;
}
.sc-mainvisual .download-wrap .button {
  padding: 25px 75px;
  font-size: 22px;
  color: #fff;
  font-weight: bold;
  background-color: #3b89ff;
  border-radius: 300px;
  margin-bottom: 20px;
  transition: 0.3s;
  display: inline-block;
}
.sc-mainvisual .download-wrap .button.mo {
  display: none;
}
.sc-mainvisual .download-box {
  padding: 40px 50px;
  border-radius: 25px;
  background-color: #fff;
  display: flex;
  align-items: flex-end;
  width: 500px;
  margin: 20px auto 0;
  opacity: 0;
  visibility: hidden;
  transition: 0.6s;
  display: flex;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.1);
}
.sc-mainvisual .download-box.show {
  opacity: 1;
  visibility: visible;
}
.sc-mainvisual .download-box .qrcode {
  width: 130px;
  margin-right: 30px;
}
.sc-mainvisual .download-box .download-site {
  width: calc(100% - 160px);
}
.sc-mainvisual .download-box .download-site a {
  padding: 0 10px 20px;
  border-bottom: 1px solid #e4e5e9;
  display: flex;
}
.sc-mainvisual .download-box .download-site a:last-child {
  margin-top: 20px;
}
.sc-mainvisual .download-box .download-site a img:first-child {
  margin-right: 12px;
  width: 22px;
}
.sc-mainvisual .download-box .download-site a img:last-child {
  width: 7px;
}
.sc-mainvisual .download-box .download-site a span {
  width: calc(100% - 44px);
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  color: #111;
}
.sc-mainvisual .scrollicon-area {
  position: absolute;
  left: 50%;
  bottom: 5.555vh;
  transform: translateX(-50%);
  width: 24px;
  height: 36px;
  border: solid 1px rgba(255, 255, 255, 0.3);
  border-radius: 300px;
  z-index: 10;
}
.sc-mainvisual .scrollicon-area::after {
  content: "";
  width: 4px;
  height: 4px;
  background-color: #fff;
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 50%;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: scrolldown;
          animation-name: scrolldown;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

.sc-scroll .text-area {
  z-index: 1;
}
.sc-scroll .text-area h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.48;
}
@media (max-width: 1250px) {
  .sc-scroll .text-area h2 {
    font-size: 39px;
  }
}
.sc-scroll .text-area h2 > div {
  display: inline-block;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}
.sc-scroll .text-area .desc-box {
  margin-top: 40px;
}
@media (max-width: 1250px) {
  .sc-scroll .text-area .desc-box {
    margin-top: 30px;
  }
}
.sc-scroll .text-area .desc-box p {
  font-size: 22px;
  font-weight: 500;
  color: #444;
  line-height: 1.6;
}
@media (max-width: 1250px) {
  .sc-scroll .text-area .desc-box p {
    font-size: 18px;
  }
}
.sc-scroll .text-area .desc-box br {
  display: none;
}
.sc-scroll .scroll-list {
  margin-top: 100px;
  margin-left: calc((100vw - 1280px) / 2);
  display: flex;
  justify-content: space-between;
  overflow: visible;
  width: 2480px;
  transition: 0.3s;
}
@media (max-width: 1440px) {
  .sc-scroll .scroll-list {
    margin-top: 60px;
    margin-left: calc((100vw - 750px) / 2);
    width: 1450px;
  }
}
@media (max-width: 1100px) {
  .sc-scroll .scroll-list {
    gap: 40px;
    margin-top: 60px;
    margin-left: calc((100vw - 540px) / 2);
  }
}
.sc-scroll .scroll-list.end {
  transform: translateX(-40px);
}
@media (max-width: 1440px) {
  .sc-scroll .scroll-list.end {
    transform: translateX(-25px);
  }
}
@media (max-width: 1100px) {
  .sc-scroll .scroll-list.end {
    transform: translateX(-20px);
  }
}
.sc-scroll .scroll-item {
  width: 1200px;
  height: 453px;
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  z-index: 0;
  translate: none;
  rotate: none;
  scale: none;
  transform: translate(0px, 0px);
}
@media (max-width: 1440px) {
  .sc-scroll .scroll-item {
    width: 700px;
    height: 264px;
  }
}
@media (max-width: 1100px) {
  .sc-scroll .scroll-item {
    width: 500px;
    height: 189px;
    border-radius: 10px;
  }
  .sc-scroll .scroll-item:last-child {
    margin-right: auto;
  }
}
.sc-scroll .scroll-item div {
  width: auto;
  height: auto;
}
.sc-scroll .scroll-item video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: auto !important;
}

.sc-introduce .text-area {
  text-align: center;
  position: relative;
  z-index: 1;
}
.sc-introduce .text-area img {
  margin-right: 5px;
}
.sc-introduce .mobile-area {
  display: none;
  text-align: center;
  position: relative;
  z-index: 1;
}
.sc-introduce .mobile-area img {
  margin-right: 5px;
}
.sc-introduce h2 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.48;
}
@media (max-width: 1250px) {
  .sc-introduce h2 {
    font-size: 39px;
  }
}
.sc-introduce .flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1250px) {
  .sc-introduce .flex img {
    height: 35px;
  }
}
.sc-introduce .image-area {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
  gap: 50px;
}
@media (max-width: 1100px) {
  .sc-introduce .image-area {
    margin-top: 60px;
  }
}
.sc-introduce .image-area li:nth-child(2) img {
  width: auto;
}
.sc-introduce .image-area img {
  width: 420px;
  max-width: 100%;
}
@media (max-width: 1100px) {
  .sc-introduce .image-area img {
    width: 360px;
  }
}

.sc-info1 {
  position: relative;
  padding-top: 320px;
}
.sc-info1 .contents-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-info1 .video-wrap::before {
  background-color: #3b89ff;
}

.sc-info2 {
  position: relative;
  padding-top: 320px;
}
.sc-info2 .contents-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}
@media (max-width: 1100px) {
  .sc-info2 .contents-area {
    margin-right: 0;
  }
}
@media (max-width: 1100px) {
  .sc-info2 .video-wrap {
    width: 530px;
  }
}
.sc-info2 .video-wrap::before {
  background-color: #ffcb14;
}

.sc-info3 {
  position: relative;
  padding-top: 320px;
}
.sc-info3 .contents-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-info3 .group-image {
  margin-top: 100px;
}
.sc-info3 .group-image div {
  position: relative;
  display: inline-block;
  width: 352px;
  cursor: pointer;
}
.sc-info3 .group-image div .thumbnail {
  display: block;
  transition: 0.3s;
  width: 100%;
}
.sc-info3 .group-image div .icon-play {
  position: absolute;
  right: 18px;
  bottom: 18px;
}
.sc-info3 .group-image span {
  display: block;
  margin-top: 15px;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
}
.sc-info3 .video-wrap::before {
  background-color: #00b439;
}

.sc-info4 {
  position: relative;
  padding-top: 320px;
  width: 100%;
}
.sc-info4 .text-wrap {
  text-align: center;
  position: relative;
  z-index: 1;
}
.sc-info4 .slide-wrap {
  margin-top: 120px;
  position: relative;
  height: 440px;
  display: flex;
  align-items: center;
}
.sc-info4 .video-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  box-shadow: 0 10px 80px 0 rgba(4, 5, 9, 0.1);
  background-color: rgba(255, 255, 255, 0.68);
  border-radius: 50px;
  isolation: isolate;
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  width: 400px;
  height: 440px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sc-info4 .video-box .video {
  max-width: 100%;
  width: 311px;
  height: auto;
}
.sc-info4 .video-box .video video {
  width: 100%;
  height: 100%;
}
.sc-info4 .loop-slide .swiper-wrapper {
  transition-timing-function: linear;
}
.sc-info4 .loop-slide .box {
  width: 180px;
  height: 180px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 70px;
}
.sc-info4 .loop-slide .box.pink {
  background: #f274ac;
}
.sc-info4 .loop-slide .box.purple {
  background: #a4a3ff;
}
.sc-info4 .loop-slide .box.yellow {
  background: #fae046;
}
.sc-info4 .loop-slide .box.green {
  background: #70ed79;
}
.sc-info4 .loop-slide .box.blue {
  background: #5ac7fb;
}

.sc-advertisement {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 320px;
}
@media (max-width: 1100px) {
  .sc-advertisement {
    flex-direction: column-reverse;
    gap: 100px;
    align-items: center;
  }
  .sc-advertisement .text-wrap {
    width: 600px;
    max-width: 100%;
  }
}
.sc-advertisement h3 {
  font-size: 50px;
  font-weight: bold;
  line-height: 1.48;
}
@media (max-width: 1250px) {
  .sc-advertisement h3 {
    font-size: 40px;
  }
  .sc-advertisement h3 img {
    height: 38px;
  }
}
.sc-advertisement h3 img {
  height: 35px;
}
.sc-advertisement .ad-list {
  margin-top: 40px;
  width: 360px;
  max-width: 100%;
}
@media (max-width: 1250px) {
  .sc-advertisement .ad-list {
    margin-top: 30px;
  }
}
.sc-advertisement .ad-list li {
  padding-bottom: 6px;
  margin-top: 16px;
  border-bottom: 1px solid #eee;
}
.sc-advertisement .ad-list li:first-child {
  margin-top: 0;
}
.sc-advertisement .ad-list li i {
  margin-right: 10px;
  font-size: 26px;
  color: #3b89ff;
}
.sc-advertisement .ad-list b {
  font-weight: bold;
  line-height: 1.69;
  font-size: 26px;
}
@media (max-width: 1250px) {
  .sc-advertisement .ad-list b {
    font-size: 22px;
  }
}
.sc-advertisement .desc {
  margin-top: 40px;
  font-size: 22px;
  color: #444;
  line-height: 1.73;
  font-weight: 500;
}
@media (max-width: 1250px) {
  .sc-advertisement .desc {
    margin-top: 30px;
    font-size: 19px;
  }
}
.sc-advertisement .desc.mo {
  display: none;
}
.sc-advertisement .image-wrap {
  position: relative;
  box-sizing: content-box;
  width: 530px;
}
@media (max-width: 1250px) {
  .sc-advertisement .image-wrap {
    width: 480px;
  }
}
@media (max-width: 1100px) {
  .sc-advertisement .image-wrap {
    width: 600px;
    max-width: 100%;
  }
}
.sc-advertisement .image-wrap.border::after {
  content: "";
  width: calc(100% - 1px);
  height: calc(100% - 1px);
  border-radius: 50%;
  border: 2px solid #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
.sc-advertisement .image-wrap.border-radius {
  border-radius: 50px;
  overflow: hidden;
}
.sc-advertisement .image-wrap .swiper-wrapper {
  transition-timing-function: linear;
}
.sc-advertisement .image-wrap img {
  width: 100%;
}

.sc-advertisement2 {
  flex-direction: row-reverse;
}
@media (max-width: 1100px) {
  .sc-advertisement2 {
    flex-direction: column-reverse;
  }
}
.sc-advertisement2 .text-wrap .ad-list i {
  color: #ffcb14;
}
.sc-advertisement2 .desc.mo {
  display: none;
}

.sc-advertisement3 .text-wrap .ad-list i {
  color: #00b439;
}

.sc-scrollimage {
  margin-top: 450px;
}
.sc-scrollimage .image-area {
  width: 626px;
  height: 626px;
  border-radius: 50px;
  background-color: #f0f1f5;
  margin: 0 auto;
  margin-bottom: 260px;
  display: flex;
  justify-content: center;
  transition: 1s;
  text-align: center;
}
.sc-scrollimage .image-area.active {
  width: 100%;
  height: 928px;
  border-radius: 0;
  margin-bottom: 0;
}
.sc-scrollimage .image-area.active img {
  width: 290px;
}
.sc-scrollimage .image-area img {
  width: 186px;
  transition: 1s;
}
.sc-scrollimage .image-area p {
  margin-top: 40px;
  font-size: 34px;
  font-weight: bold;
  line-height: 1.35;
  letter-spacing: normal;
}
@media (max-width: 1250px) {
  .sc-scrollimage .image-area p {
    margin-top: 30px;
  }
}
.sc-scrollimage .image-area .link-detail {
  width: 220px;
  padding-right: 0;
  padding-left: 0;
  margin: 40px auto 0;
}

.sc-download {
  padding: 287px 0;
  background-color: #3b89ff;
}
.sc-download .contents-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sc-download .text-wrap p {
  font-size: 60px;
  font-weight: bold;
  color: #fff;
  line-height: 1.33;
}
.sc-download .appstore-list {
  display: flex;
  margin-top: 100px;
}
.sc-download .appstore-list li a {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 27px 0;
  background-color: #222;
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 300px;
  line-height: 1;
  transition: 0.3s;
  width: 266px;
  height: 84px;
  justify-content: center;
}
.sc-download .appstore-list.mo {
  display: none;
}
.sc-download .appstore-list.mo button {
  color: #fff;
  font-size: 26px;
  font-weight: bold;
  padding: 27px 0;
  background-color: #222;
  display: flex;
  align-items: center;
  margin-right: 20px;
  border-radius: 300px;
  line-height: 1;
  transition: 0.3s;
  width: 266px;
  height: 84px;
  justify-content: center;
}
.sc-download .image-box {
  width: 400px;
  height: 400px;
  border-radius: 25px;
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.18);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sc-download .image-box img {
  width: 190px;
}
.sc-download .image-box p {
  font-size: 20px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  color: #999;
  margin-top: 20px;
}

.sc-ask {
  background-color: #f9fafd;
  padding: 320px 0;
}
.sc-ask h3 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 30px;
}
.sc-ask .desc {
  font-size: 22px;
  font-weight: 500;
  line-height: 1.73;
  margin-bottom: 50px;
  text-align: center;
  color: #444;
}
.sc-ask .group-form {
  box-shadow: 0 10px 80px 0 rgba(0, 0, 0, 0.05);
  background-color: #fff;
  padding: 80px 60px;
  margin: 40px auto;
  border-radius: 25px;
}
.sc-ask .input-list {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sc-ask .input-list li {
  width: calc(50% - 25px);
  text-align: left;
  position: relative;
}
.sc-ask .input-list label {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 17px;
  display: block;
}
.sc-ask .input-list .required {
  padding-right: 9px;
  position: relative;
  display: inline-block;
}
.sc-ask .input-list .required::after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 0;
  right: 0;
  background-color: #3b89ff;
}
.sc-ask .input-wrap {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
  width: 100%;
}
.sc-ask .input-wrap .focused .input-box::after {
  transform: scaleX(1) translateX(0px);
}
.sc-ask .input-wrap .input-box {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.4375em;
  font-family: "Pretendard Variable", sans-serif;
  color: rgb(97, 97, 97);
  box-sizing: border-box;
  cursor: text;
  display: inline-flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.sc-ask .input-wrap .input-box::before {
  content: "";
  border-bottom: 1px solid #ccc;
  left: 0px;
  bottom: 0px;
  position: absolute;
  right: 0px;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.sc-ask .input-wrap .input-box::after {
  content: "";
  border-bottom: 2px solid rgb(33, 150, 243);
  left: 0px;
  bottom: 0px;
  position: absolute;
  right: 0px;
  transform: scaleX(0);
  transition: transform 200ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  pointer-events: none;
}
.sc-ask .input-wrap .input-box input {
  font: inherit;
  letter-spacing: inherit;
  padding: 4px 0px 5px;
  box-sizing: content-box;
  background: none;
  height: 1.4375em;
  margin: 0px;
  display: block;
  min-width: 0px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0;
  padding-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  width: 100%;
  border: none;
  outline: none;
}
.sc-ask .input-wrap .input-box input::-moz-placeholder {
  font-size: 22px;
  font-weight: 500;
  color: #999;
}
.sc-ask .input-wrap .input-box input:-ms-input-placeholder {
  font-size: 22px;
  font-weight: 500;
  color: #999;
}
.sc-ask .input-wrap .input-box input::placeholder {
  font-size: 22px;
  font-weight: 500;
  color: #999;
}
.sc-ask .checkbox-wrap {
  margin-top: 50px;
}
.sc-ask .checkbox-wrap.policy label:first-child {
  margin-bottom: 26px;
}
.sc-ask .checkbox-wrap label {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 17px;
  display: block;
}
.sc-ask .checkbox-wrap label.required {
  padding-right: 9px;
  position: relative;
  display: inline-block;
}
.sc-ask .checkbox-wrap label.required::after {
  content: "";
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  top: 0;
  right: 0;
  background-color: #3b89ff;
}
.sc-ask .checkbox-wrap label.checkbox-title {
  margin-bottom: 0;
  margin-left: 5px;
  font-size: 22px;
  font-weight: 500;
  color: #111;
  line-height: normal;
  display: block;
}
.sc-ask .check-box {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  min-width: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  vertical-align: top;
}
.sc-ask .check-box .checkbox-list {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
.sc-ask .check-box .checkbox-list li {
  text-align: left;
  width: calc(50% - 25px);
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 26px;
}
.sc-ask .check-box .checkbox-list li:nth-child(odd) {
  margin-right: 50px;
}
.sc-ask .check-box .checkbox-list li:nth-child(1), .sc-ask .check-box .checkbox-list li:nth-child(2) {
  margin-top: 0;
}
.sc-ask .input-box {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  box-sizing: border-box;
  background-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  text-decoration: none;
  border-radius: 50%;
  padding: 0;
  color: #ccc;
}
.sc-ask .input-box .input {
  border: 0;
  font-size: 22px;
  font-weight: 500;
  color: #000;
  width: 100%;
  margin: 0;
  padding: 0;
}
.sc-ask .input-box span {
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  z-index: 0;
  inset: 0;
  border-radius: inherit;
}
.sc-ask .checkbox-image {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentColor;
  flex-shrink: 0;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  font-size: 1.5rem;
}
.sc-ask .checkbox {
  display: flex;
  align-items: center;
  position: relative;
}
.sc-ask .checkbox p {
  border-bottom: 1px solid #111;
  display: inline-block;
}
.sc-ask .policy-wrap {
  padding: 20px;
  background: #f4f5f9;
  margin-top: 17px;
  display: none;
}
.sc-ask .policy-wrap.show {
  display: block;
}
.sc-ask .policy-wrap p {
  font-size: 15px;
  font-weight: 500;
  color: #999;
  line-height: 1.7;
}
.sc-ask .btn-submit {
  margin: 60px auto 0;
  width: 220px;
  height: 66px;
  display: block;
  background-color: #3b89ff;
  border-radius: 300px;
  font-size: 22px;
  font-weight: 500;
  color: #fff;
  transition: 0.3s;
}